<a href="https://colab.research.google.com/github/AMMLRepos/new-york-taxi-trip-duration/blob/main/new_york_city_taxi_trip_duration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Business Problem 
Predicting a taxi trip duration in New York city for will help a taxi company to -
- to plan number of taxis required to address the need 
- to undestand the most prominent locations 
- to undetstand the locations where drivers will get longer rides
- enhance customer experience 
- improve taxi utilization and planning 

# Objective 
To predict the trip duration of a taxi in New York city

# Source of data
Data is openely available on [Kaggle](https://www.kaggle.com/c/nyc-taxi-trip-duration/overview/evaluation) 

# Steps
We will perform following probable activities to train a model -
- Import required libraries 
- Download the dataset and import it in notebook 
- Analyze existing data 
- Perform feature engineering if required 
- Prepare and clean data for model training 
- Evaluate the developed model and make changes to improve accuracy 
- Publish the model

## Import required libraries and download the dataset
We will use [opendatasets](https://github.com/JovianML/opendatasets) library from [jovian](https://jovian.ai/) to download kaggle data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
!pip install opendatasets

Collecting opendatasets
  Downloading opendatasets-0.1.20-py3-none-any.whl (14 kB)
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (from opendatasets) (1.5.12)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from opendatasets) (4.62.3)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from opendatasets) (7.1.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2021.5.30)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (2.10)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.20

In [6]:
import opendatasets as od
import os 
dataset_url = "https://www.kaggle.com/c/nyc-taxi-trip-duration/overview/evaluation"
od.download(dataset_url)

Skipping, found downloaded files in "./nyc-taxi-trip-duration" (use force=True to force download)

In [8]:
files = os.listdir('nyc-taxi-trip-duration')

['test.zip', 'train.zip', 'sample_submission.zip']

In [10]:
import zipfile
with zipfile.ZipFile("./nyc-taxi-trip-duration/train.zip", 'r') as zip_ref:
    zip_ref.extractall("./")

In [14]:
os.listdir()

['.config', 'nyc-taxi-trip-duration', 'train.csv', 'sample_data']

In [15]:
raw_taxi_df = pd.read_csv("./train.csv")
raw_taxi_df

                id  vendor_id  ... store_and_fwd_flag trip_duration
0        id2875421          2  ...                  N           455
1        id2377394          1  ...                  N           663
2        id3858529          2  ...                  N          2124
3        id3504673          2  ...                  N           429
4        id2181028          2  ...                  N           435
...            ...        ...  ...                ...           ...
1458639  id2376096          2  ...                  N           778
1458640  id1049543          1  ...                  N           655
1458641  id2304944          2  ...                  N           764
1458642  id2714485          1  ...                  N           373
1458643  id1209952          1  ...                  N           198

[1458644 rows x 11 columns]

# Knowing data fields
Data fields in the dataset stands for the following - 

* id - a unique identifier for each trip
* vendor_id - a code indicating the provider associated with the trip record
* pickup_datetime - date and time when the meter was engaged
* dropoff_datetime - date and time when the meter was disengaged
* passenger_count - the number of passengers in the vehicle (driver entered value)
* pickup_longitude - the longitude where the meter was engaged
* pickup_latitude - the latitude where the meter was engaged
* dropoff_longitude - the longitude where the meter was disengaged
* dropoff_latitude - the latitude where the meter was disengaged
* store_and_fwd_flag - This flag indicates whether the trip record was held in vehicle memory before sending * to the vendor because the vehicle did not have a connection to the server - Y=store and forward; N=not a store and forward trip
* trip_duration - duration of the trip in seconds

# Possibilities of feature engineering 
Having first look at the data, we might end up doing feature engineering to get following fields - 
* Seperate date and time 
* Get days(Monday, Tuesday and so on) for specific date 
* Divide time period into slots of say Morning, afternoon, evening and night or may be more granular periods like early monring, late morning, noon, early evening, etc. 
* Calculate trip distance from pick-up latitude to drop-off latitude 

We can conclude on the same after seeing some more patterns in the data

# Doing first level analysis of data

In [ ]:
raw_taxi_df.info()

As we can see from above output, we have - 
* 11 columns
* 14,58,644 - 14 Lakh rows - its a good size dataset
* A few string/object values and a few of them are numerical 
* No column has empty or missing values

In [ ]:
raw_taxi_df.describe()